
div.card-body {
   
    margin: auto;
    width: 50%;
}
div.card-text {
    text-align: justify;
}
div.card-header {
    background-color: lightslategray;
    text-align: center;
}

div.card-footer {
    background-color: lightslategray;
   
}
span {
    font-weight: bold;
}