/* projects page styling */


.card{
    text-align: center;
   margin-bottom: 2rem;
   margin-left: 5%;
   margin-right: 5%;

  }
  div.card-header {
    background-color: lightslategray;
  }
    div.card-footer {
      background-color: lightslategray;
    }
  #btn {
    margin: 0.25rem;
    background-color:#000080;
  }

  .card-text {
    margin-left: 15%;
    margin-right: 15%;
    padding: 1rem;
      }
  