/* projects page styling */



.card{
    text-align: center;
  }
  div.card-header {
    /* background-color: lightgrey; */
    background-color: lightslategray;
  }
    div.card-footer {
      background-color: lightslategray;
    }
  #btn {
    margin: 0.25rem;
  }
  